<!-- ... -->
<label>Authors</label>
<!--BS--><button type="button" class="add"
  (click)="addAuthorControl()">
  + Author
</button><!--BE-->
<fieldset formArrayName="authors">
  <!-- ... -->
</fieldset>
<!-- ... -->
