import { /*BS*/FormArray,/*BE*/ /* ... */ } from '@angular/forms';
// ...

form = new FormGroup({
  // ...
  /*BS*/authors: new FormArray([
    new FormControl('', { nonNullable: true })
  ])/*BE*/
});
