// ...
/*STRS*/import { FormsModule } from '@angular/forms';/*STRE*/
/*BS*/import { ReactiveFormsModule } from '@angular/forms';
import { LocalIsoDateValueAccessorModule } from 'angular-date-value-accessor';/*BE*/

@NgModule({
  // ...
  imports: [
    // ...
    /*STRS*/FormsModule/*STRE*/
    /*BS*/ReactiveFormsModule,
    LocalIsoDateValueAccessorModule/*BE*/
  ],
})
export class AdminModule { }
