// ...
import { BookEditComponent } from './book-edit/book-edit.component';

const routes: Routes = [
  // ...
  /*BS*/{
    path: 'admin/edit/:isbn',
    component: BookEditComponent,
  }/*BE*/
];

// ...
